@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("../Partials/UnloggedNavBar")

<div>
    <h1>Welcome to the Test</h1>
    <p>We are going to build a cool application using a MVC framework!</p>
    <a href="/register" class="btn btn-primary">Start</a>
</div>

<div>
    <h3>Manage Users</h3>
    <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
</div>
<div>
    <h3>Leave messages</h3>
    <p>Users will be able to leave a </p>
</div>
<div>
    <h3>Edit User Information</h3>
    <p>Admins will be able to Edit another user's information (email address, first name, last name, etc.)</p>
</div>